.head{
      
  background-color:white;
  border:solid;
   }

   .note{
     background-color: red;
     border: dotted;
   }

.grid {
  background: darkred;
  background-color: #F0F8FF;
  display: flex;
  justify-content: last baseline;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
}

.grid img {
  border: 2px solid black;
  border-radius: 50px;
}
.origami {
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}
